<launch>
    <include file="$(find pozyx_simulation)/launch/LM_uwb_cal.launch" />
    <node pkg="imu_tf" type="imu_tf" name="imu_data_output" output="screen">
        <param name="groundtrue_topic" type="string" value="ground_state"/>
        <param name="imu_topic" type="string" value="imu"/>
        <param name="mean" type="double" value="0"/>
        <param name="stddev" type="double" value="0.01"/>
    </node>
    <node pkg = "eskf" type = "eskf_node" name="eskf_node">
        <param name="imu_topic" type="string" value="imu"/>
    </node>
    <include file="$(find state_path_rviz)/launch/odom2pose.launch" />
    <include file="$(find state_path_rviz)/launch/odom2path.launch" />
    <node pkg="tf" type="static_transform_publisher" name="transfor_world2odom" args="0 0 0 0 0 0 odom world 100" />
    <node pkg="rviz" name="rviz" type="rviz"  args="-d $(find eskf)/rviz/imu_uwb_eskf_ALLstart1.rviz"/>
</launch>