<launch>
    <include file="$(find pozyx_simulation)/launch/LM_uav_simulation.launch" />
    <node pkg="imu_tf" type="imu_tf" name="imu_data_output_uav0" output="screen">
        <param name="groundtrue_topic" type="string" value="uav0/ground_state"/>
        <param name="imu_topic" type="string" value="uav0/imu_msgs"/>
        <param name="mean" type="double" value="0"/>
        <param name="stddev" type="double" value="0.01"/>
    </node>
    <node pkg = "eskf" type = "eskf_node" name="eskf_node">
        <param name="imu_topic" type="string" value="uav0/imu_msgs"/>
    </node>
    <include file="$(find state_path_rviz)/launch/multi_odom2pose.launch" />
    <include file="$(find state_path_rviz)/launch/multi_odom2path.launch" />
    <node pkg="tf" type="static_transform_publisher" name="transfor_world2odom" args="0 0 0 0 0 0 odom world 100" />
    <node pkg="rviz" name="rviz" type="rviz"  args="-d $(find eskf)/rviz/multi_imu_uwb_eskf.rviz"/>
</launch>